<%- partial('_partial/head') %>
<body class="page-template page-template-user page-template-page-analytics page-template-userpage-analytics-php page page-id-1297 chinese-font serif isWebKit">

<!--  <div class="loader loader-ball is-active" shadow></div>-->
<div class="ele-container">
  <div class="ele-wrapper">
    <div class="ele-tail"></div>
    <div class="ele-body">
      <div class="ele-head">
        <div class="ele-eyebrows"></div>
        <div class="ele-eyes"></div>
        <div class="ele-mouth"></div>
        <div class="ele-fang-front"></div>
        <div class="ele-fang-back"></div>
        <div class="ele-ear"></div>
      </div>
    </div>
    <div class="ele-leg-1 ele-leg-back">
      <div class="ele-foot"></div>
    </div>
    <div class="ele-leg-2 ele-leg-front">
      <div class="ele-foot"></div>
    </div>
    <div class="ele-leg-3 ele-leg-back">
      <div class="ele-foot"></div>
    </div>
    <div class="ele-leg-4 ele-leg-front">
      <div class="ele-foot"></div>
    </div>
  </div>
</div>

  <div class="scrollbar" id="bar"></div>
  <a href="#" class="cd-top faa-float animated"></a>
  <section id="main-container">
    <%- partial('_partial/headertop', null, {cache: !config.relative_link}) %>
    <div id="page" class="site wrapper">
      <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
      <%- body %>
    </div>    
    <%- partial('_widget/search/insight') %>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    <div class="openNav no-select" style="height: 50px;">
      <div class="iconflat no-select" style="width: 50px; height: 50px;">
        <div class="icon"></div>
      </div>
      <div class="site-branding search-form-submit">
        <i class="iconfont js-toggle-search iconsearch icon-search"></i>
      </div>
    </div>
  </section>
  <%- partial('_partial/mheader', null, {cache: !config.relative_link}) %>
  <%- partial('_partial/aplayer', null, {cache: !config.relative_link}) %>
<!--  鼠标-->
<!--鼠标移动-->
<!--  <script src="https://cdn.jsdelivr.net/gh/wallleap/cdn/js/xuehua.js"></script>-->
  <!--  核心价值观-->
<!--  <script src="https://cdn.jsdelivr.net/gh/wallleap/cdn/js/shehuizhuyi.js"></script>-->
  <!--  爱心-->
<!--  <script src="https://cdn.jsdelivr.net/gh/wallleap/cdn/js/love.js"></script>-->
  <!--烟花-->
<!--    <canvas class="fireworks" style="position: fixed;left: 0;top: 0;z-index: 1; pointer-events: none;" ></canvas>-->
<!--    <script type="text/javascript" src="//cdn.bootcss.com/animejs/2.2.0/anime.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/gh/wallleap/cdn/js/clickBom.js"></script>-->

<!--  背景-->
<!--  背景丝带-->
<!--  <script src="https://cdn.jsdelivr.net/gh/wallleap/cdn/js/piao.js"></script>-->
<!--  背景线条-->
<!--  <script src="https://cdn.jsdelivr.net/gh/wallleap/cdn/js/canvas-nest.min.js"></script>-->
<!--樱花-->
<!--  <script src="https://cdn.jsdelivr.net/gh/wallleap/cdn/js/sakura.js"></script>-->
<!--雪花-->
<!--  <script src="https://cdn.jsdelivr.net/gh/wallleap/cdn/js/xuehuapiaoluo.js"></script>-->
<!--  <script src="https://cdn.jsdelivr.net/gh/yuu2b/cdn/js/snowfall.jquery.js"></script>-->
<!--禁止按键-->
<!--  <script src="https://cdn.jsdelivr.net/gh/wallleap/cdn/js/noSomeKey.js"></script>-->
<!--看板娘-->
  <script src="https://cdn.jsdelivr.net/gh/yuu2b/cdn/live2d-widget/autoload.js"></script>

  <script>
    let tag = true;
    if (tag){
      document.onreadystatechange = function () {
        if (document.readyState === 'complete'){
          $('.ele-container').remove();
          //$('body').css('overflow','auto');
        }
      };
      tag = false;
    }
  </script>
</body>
</html>