<div class="pattern-center-blank"></div>
<div id="content" class="site-content">
    <header class="page-header">
        <h1 class="cat-title">实用网站</h1>
        <span class="cat-des">
            <p>通往新世界的大门</p>
        </span>
    </header>
    <article class="post-item post-301 page type-page status-publish has-post-thumbnail hentry">
        <% if (page.web) { %>
            <div class="links">
                <% (page.web||[]).forEach(function (group, index) { %>
                    <h3 class="link-title">
                        <span class="fake-title"><%- index + 1 %>. <%- group.group %></span>
                    </h3>
                    <% if (group.desc) { %>
                        <div class="link-description"><%- group.desc %></div>
                    <% } %>
                    <ul class="link-items fontSmooth">
                        <% (group.items||[]).forEach(function (item) { %>
                            <li class="link-item">
                                <a class="link-item-inner effect-apollo" href="<%- item.url %>" title="<%- item.desc %>" target="_blank" rel="friend">
                                    <img class="lazyload" onerror="imgError(this,1)" src="<%- theme.lazyloadImg%>" data-src="<%- item.img %>" src="<%- item.img %>">
                                    <span class="sitename"><%- item.name %></span>
                                    <div class="linkdes"><%- item.desc %></div>
                                </a>
                            </li>
                        <% }) %>
                    </ul>
                <% }) %>
            </div>
        <% } %>
    </article>
</div>
